button.accordion {
    background-color: #eee;
    color: #444;
    padding: 18px;
    width: 100%;
    border: none;
    transition: 0.4s;
}

button.accordion.active, 
button.accordion:hover {
    background-color: #ccc;
}

.list-container {
    transition: max-height 0.2s ease-out;
    height:  auto;
    overflow: hidden;
}

.list-container.active {
    max-height: 2000px;
    transition: max-height 0.5s ease-out;
}

.list-container:not(.active) {
    max-height: 0;
}

.game-accordion {
    margin-bottom: 30px;
}
